<body>
<div id="node-id"></div>
</body>
<script> 
var data = {};
data["SSLv2_Ciphers"] = "None";
data["SSLv3_Ciphers"] = "None";
data["SSLv23_Ciphers"] = "None";
data["TLSv1_Ciphers"] = "None";
data["TLSv1_1_Ciphers"] = "None";
data["TLSv1_2_Ciphers"] = "None";
</script>
<script>
function createCORSRequestcreateCORSRequest(method, url){
    var xhr = new XMLHttpRequest();
    if ("withCredentials" in xhr){
        xhr.open(method, url, true);
    } else if (typeof XDomainRequest != "undefined"){
        xhr = new XDomainRequest();s
        xhr.open(method, url);
    } else {
        xhr = null;
    }
    return xhr;
}
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
function post(path, params, method) {
    method = method || "post";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
			form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}



var plugins = "";
data["plugin_count"] = navigator.plugins.length;
for (var i = 0; i < navigator.plugins.length; i++) {
  plugins = plugins + navigator.plugins[i].name + "\t" +  navigator.plugins[i].filename + "\t" + navigator.plugins[i].description + "\n";

}
mimeTypes = "";
data["mimeType_count"] = navigator.mimeTypes.length;
for (var i = 0; i < navigator.mimeTypes.length; i++) {
    mimeTypes = mimeTypes + navigator.mimeTypes[i].type + "\t" +  navigator.mimeTypes[i].suffixes + "\t" + navigator.mimeTypes[i].description + "\t" + 
    navigator.mimeTypes[i].enabledPlugin.name + "\t" + navigator.mimeTypes[i].enabledPlugin.filename +
    "\t" + navigator.mimeTypes[i].enabledPlugin.description + "\n";
}
	var node = document.getElementById('node-id');
	var newNode = document.createElement('p');
	newNode.appendChild(document.createTextNode(mimeTypes));
	node.appendChild(newNode);

data["test"] = createCORSRequest('GET', 'https://192.168.178.20:8017');
data["mimeTypes"] = mimeTypes;
data["plugins"] = plugins;
data["javaEnabled"] = navigator.javaEnabled();
data["appCodeName"] = navigator.appCodeName;
data["appName"] = navigator.appName;
data["appVersion"] = navigator.appVersion;
data["cookieEnabled"] = navigator.cookieEnabled;
data["language"] = navigator.language;
data["onLine"] = navigator.onLine;
data["platform"] = navigator.platform;
data["product"] = navigator.product;
data["userAgent"] = navigator.userAgent;
data["referer"] = getParameterByName("refer");
post('http://www.google.com/newuser/', data);</script>