<body>
<div id="ssl-node"></div>
<img src="https://192.168.178.20:8012/a.png" alt="Image A" />
</body>
<script> 
var data = {};
data["SSLv2_Ciphers"] = "None";
data["SSLv3_Ciphers"] = "None";
data["SSLv23_Ciphers"] = "None";
data["TLSv1_Ciphers"] = "None";
data["TLSv1_1_Ciphers"] = "None";
data["TLSv1_2_Ciphers"] = "None";

var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["SSLv2_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["SSLv3_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["SSLv23_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["TLSv1_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["TLSv1_1_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["TLSv1_2_Ciphers"]));
node.appendChild(newNode);

</script>
