<body>
<div id="ssl-node"></div>

</body>
<script> 
var data = {};
data["SSLv2_Ciphers"] = "None";
data["SSLv3_Ciphers"] = "None";
data["SSLv23_Ciphers"] = "None";
data["TLSv1_Ciphers"] = "None";
data["TLSv1_1_Ciphers"] = "None";
data["TLSv1_2_Ciphers"] = "None";
</script>

<script src="https://192.168.178.20:8012/SSLv3check.js"></script>
<script src="https://192.168.178.20:8013/SSLv3check.js"></script>
<script src="https://192.168.178.20:8014/SSLv23check.js"></script>
<script src="https://192.168.178.20:8015/TLSv1check.js"></script>
<script src="https://192.168.178.20:8016/TLSv11check.js"></script>
<script src="https://192.168.178.20:8017/TLSv12check.js"></script>
<script> 
function post(path, params, method) {
    method = method || "post";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
			form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
}
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["SSLv2_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["SSLv3_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["SSLv23_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["TLSv1_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["TLSv1_1_Ciphers"]));
node.appendChild(newNode);
var node = document.getElementById('ssl-node');
var newNode = document.createElement('p');
newNode.appendChild(document.createTextNode(data["TLSv1_2_Ciphers"]));
node.appendChild(newNode);
</script>