<body>
<div id="node-id"></div>
</body>

<script>
var data = {};

function createCORSRequest(method, url, key){
    var xhr = new XMLHttpRequest();
    if ("withCredentials" in xhr){       
         xhr.open(method, url, false);
		 xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
           

			
        }
    };
    } else if (typeof XDomainRequest != "undefined"){
        xhr = new XDomainRequest();
        xhr.open(method, url);
        xhr.onload = function() {
         alert(xhr.responseText);
            }
    } else {
        xhr = null;
    }

    return xhr;
}
try {
   xhr = createCORSRequest('GET', 'https://192.168.178.20:8012/', 'cipher');
xhr.send();
alert(xhr.responseText);
}catch(err) {
    alert(err.message);
}
try {
   xhr = createCORSRequest('GET', 'https://192.168.178.20:8013/', 'cipher');
xhr.send();
alert(xhr.responseText);
}catch(err) {
    alert(err.message);
}
try {
   xhr = createCORSRequest('GET', 'https://192.168.178.20:8014/', 'cipher');
xhr.send();
alert(xhr.responseText);
}catch(err) {
    alert(err.message);
}
try {
   xhr = createCORSRequest('GET', 'https://192.168.178.20:8015/', 'cipher');
xhr.send();
alert(xhr.responseText);
}catch(err) {
    alert(err.message);
}
try {
   xhr = createCORSRequest('GET', 'https://192.168.178.20:8016/', 'cipher');
xhr.send();
alert(xhr.responseText);
}catch(err) {
    alert(err.message);
}
try {
   xhr = createCORSRequest('GET', 'https://192.168.178.20:8017/', 'cipher');
xhr.send();
alert(xhr.responseText);
}catch(err) {
    alert(err.message);
}

</script>