<script type="text/javascript" src="PluginDetect.js"></script>
<div id="detectFlash_output"></div>
<div id="pdfresult"></div>
<div id="javaresult"></div>
<div id="detectVLC_output"></div>
<div id="detectPDFjs_output"></div>
   <div id="detectAdobeRdr_output"></div>
<script type="text/javascript" src="detectFlash.js"></script>
<script type="text/javascript" src="detectJava.js"></script>
<script type="text/javascript" src="detectVLC.js"></script>
<script type="text/javascript" src="detectPDFjs.js"></script>
<script type="text/javascript" src="PDFReader.js"></script>

