<script type="text/javascript">

document.writeln('<table border="1">');
for (var i = 0; i < navigator.plugins.length; i++) {
document.writeln("<tr>");
document.writeln("<td>" + navigator.plugins[i].name + "<\/td>");
document.writeln("<td>" + navigator.plugins[i].description + "<\/td>");
document.writeln("<td>" + navigator.plugins[i].filename + "<\/td>");
document.writeln("<\/tr>");
    }
document.writeln("<\/table>");

function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
         }

x    }
    document.body.appendChild(form);
    form.submit();
}


post('/contact/', {name: 'Johnny Bravo'});

  </script>
